body {
	background: #fefefe;
}

.title-header {
	color: black;
	background: orange;
}

.title-section {
	color: whitesmoke;
	background: coral;
}

.title-article {
	color: orangered;
}

.article-content {
	color: gray;
}

.footer-content {
	background: lightgoldenrodyellow;
}

a {
	color: green;
}

section a {
	color: inherit;
}