/* NOTATKI */
/* przykłodowe stylowanie */
h1 {
    color: whitesmoke;
    background: rgb(255, 0, 0);
}

h2 {
    color: #1460aa;
    background: #ffff00;
}

section {
    background: orange;
}

/* stylowanie z użyciem klas - najczęsciej stosowane */
.czerwony {
    color: red;
}

/* stylowanie z użyciem id - tylko jedno, unikatowe */
#id {
    background: yellow;
}

/* reguła important - nadpisuje stylowanie klas i id */
/* h3 {
	color: aqua !important;
} */
h3 {
    color: aqua;
}

/* łączenie selektorów */
a {
    color: green;
}

/* <-- najechanie kursorem powoduje podgląd edytowanych selektorów */
/* <-- inherit - dziedziczenie od rodzica*/
section a {
    color: inherit;
}

/* mixowanie selektorów */
.my-article p {
    /* każde p w klasie my-article ma deklarowane tutaj stylowanie */
    background: #1460aa;
    color: #fefefe;
}

/* styl użyty w połączeniu z inline - #name ma niższy priorytet */
#name {
    color: red;
}

/* jeżeli specyficzność jest równa - to styl użyty bliżej końca pliku */
#text {
    color: red;
    color: purple;
}

.box {
    color: #333;
    background: orangered;
}

.display-block-link {
    display: block;
}

.box-inline {
    color: #333;
    background: orangered;
    display: inline;
}

.box-inline-block {
    color: #333;
    background: orangered;
    display: inline-block;
}

.box-inline-size {
    color: #333;
    background: orangered;
    display: inline;
    width: 200px;
    height: 200px;
}

.box-block-size {
    color: #333;
    background: orangered;
    display: block;
    width: 200px;
    height: 200px;
}

.box-inline-block-size {
    color: #333;
    background: orangered;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.box-inline-size-max {
    color: #333;
    background: orangered;
    display: inline;
    max-width: 200px;
    max-height: 200px;
}

.box-block-size-max {
    color: #333;
    background: orangered;
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.box-inline-block-size-max {
    color: #333;
    background: orangered;
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
}

.box-inline-size-min {
    color: #333;
    background: orangered;
    display: inline;
    min-width: 200px;
    min-height: 200px;
}

.box-block-size-min {
    color: #333;
    background: orangered;
    display: block;
    min-width: 200px;
    min-height: 200px;
}

.box-inline-block-size-min {
    color: #333;
    background: orangered;
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
}

.box-inline-size-overflow {
    color: #333;
    background: orangered;
    display: inline;
    height: 30px;
    overflow: hidden; /*hidden/auto/clip/scroll/visible*/
}

.box-block-size-overflow {
    color: #333;
    background: orangered;
    display: block;
    height: 30px;
    overflow: scroll;
}

.box-inline-block-size-overflow {
    color: #333;
    background: orangered;
    display: inline-block;
    height: 30px;
    overflow: auto;
}